header {
  display: flex;
  max-width: 100%;
}

header:nth-child(1) {
  flex: 1;
  flex-flow: wrap;
  justify-content: center;
}

.subtitle {
  display: flex;
}

h3 {
  flex: 1;
  flex-flow: wrap;
  text-align: center;
}

.pics {
  display: flex;
}

.img {
  flex: 1;
  max-width: 100%;
}

.p1, .p2, .p3, .p4 {
  text-align: center;
  text-decoration: underline;
}
